<nav class="nav">
    <div class="container">
        <form class="navForm" action="/home" method="GET">
            <button class="navBtn">Home</button>
        </form>
        <form class="navForm" action="/users/signup" method="GET">
            <button class="navBtn">Signup</button>
        </form>
        <form class="navForm" action="/users/login" method="GET">
            <button class="navBtn">Login</button>
        </form>
    </div>
</nav>