<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel='stylesheet' href='/stylesheets/style.css'/>
      <link rel="stylesheet" href="/stylesheets/navbar.css"/>
      <link rel="stylesheet" href="/stylesheets/profile.css"/>
      <link rel="stylesheet" href="../stylesheets/signup.css"/>
      <link rel="stylesheet" href="/stylesheets/login.css"/>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
